nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1vw 0;

    .nav_links {
        list-style: none;
        display: flex;
        
        li {
            padding: 0 1vw;
            a {
                color: rgb(99, 99, 99);

            }
        }
    }

    .nav_btn {
        display: flex;

        button {
            padding: 1.5rem 2.5rem;
            font-size: 1.6rem;
        color: rgb(99, 99, 99);

        }
        .primary {
            background-color: #133416;
            color: white;
            border-radius: 3px;
            font-weight: 550;
        }

        .secondary {
            background: transparent;
        }
        
    }
}